.barchart-container {
    padding: 20px;
    /* background: #f5f5f5; */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.recharts-wrapper {
    font-family: 'Roboto', sans-serif;
}

.recharts-tooltip-wrapper .recharts-default-tooltip {
    background-color: #333 !important;
    color: #fff !important;
    border: none !important;
    border-radius: 5px !important;
}

.recharts-text {
    fill: white !important;
}

