.scrollY {
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: rgba(255, 255, 255, 0.5) transparent; 
  }
  
  .scrollY::-webkit-scrollbar {
    width: 6px; 
  }
  
  .scrollY::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 3px; 
  }
  